@font-face {
  font-family: metropolis;
  src: url("font/Metropolis/Metropolis-light.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background: linear-gradient(90deg, #a79cfb 0%, #7974d0 100%); */
  background-color: #7974d0;
  font-family: metropolis;
  /* height: 979px; */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: white;
  height: 327px;
  width: 100%;
}

.header__h2 {
  margin: 0;
  font-size: 66px;
}

.header__container {
  padding: 100px 0 0 0%;
}

.header__links {
  display: flex;
  padding-top: 5px;
}

.header__link {
  color: black;
  font-size: 30px;
  padding-right: 50px;
  text-align: left;
}

.container__categorieen {
  padding: 100px 0 0 0;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 40em;
}
.grid__link {
  display: flex;
  text-align: right;
  margin: 10px;
  padding: 14px;
  width: 250px;
  background-color: white;
  border-radius: 5px;
}
.grid__link__text {
  font-size: 23px;
  margin-top: 3px;
  margin-left: 50px;
}

.circle-rood-link {
  width: 25px;
  height: 25px;
  background: #ff445b;
  border-radius: 50px;
}

.footer {
  height: 150px;
  /* position:absolute; */
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
}

.footer__contact-gegevens {
  padding: 60px 0px 0px 0px;
}

.footer__paragraaf {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 44px;
  color: #000000;
}

.footer__nummer {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 49px;
  text-decoration-line: underline;
  color: #ffffff;
}

.footer__contact-knop-tekst {
  position: absolute;
  padding: 16px 0px 0px 40px;
  font-size: 30px;
}

.footer__vierkant {
  position: absolute;
  width: 186px;
  height: 62px;
  top: 62px;
  right: 100px;
  background: #ffffff;
  border-radius: 8px;
}

.footer__circle {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40px;
  right: 40px;
  background: #ffffff;
  border-radius: 70px;
}

.footer__circle-rood {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 72px;
  right: 69px;
  background: #ff445b;
  border-radius: 50px;
}
