@font-face {
  font-family: metropolis;
  src: url("font/Metropolis/Metropolis-light.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #a79cfb 0%, #7974d0 100%);
  font-family: metropolis;
}

header {
  background-color: white;
  height: 327px;
  width: 100%;
}
.header__h2 {
  margin: 0;
  font-size: 66px;
}
.header__container {
  padding: 100px 0 0 17%;
}
.header__links {
  display: flex;
  padding-top: 5px;
}
.header__link {
  color: black;
  font-size: 30px;
  padding-right: 50px;
  text-align: left;
}

.container__categorieen {
  padding: 100px 0 0 17%;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 40em;
}
.grid__link {
  display: flex;
  text-align: right;
  margin: 10px;
  padding: 14px;
  width: 250px;
  background-color: white;
  border-radius: 5px;
}
.grid__link__text {
  font-size: 23px;
  margin-top: 3px;
  margin-left: 50px;
}

.circle-rood-link {
  width: 25px;
  height: 25px;
  background: #ff445b;
  border-radius: 50px;
}

.footer {
  height: 180px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__contact-knop {
  float: right;
  margin-right: 300px;
  top: 700px;
}

.footer__contact-knop-tekst {
  position: absolute;
  padding: 31px 0px 0px 40px;
  font-size: 30px;
}

.footer__vierkant {
  position: absolute;
  width: 236px;
  height: 92px;

  background: #ffffff;
  border-radius: 8px;
}

.footer__circle {
  position: absolute;
  width: 132px;
  height: 132px;
  top: 10px;
  right: 10px;
  background: #ffffff;
  border-radius: 70px;
}

.footer__circle-rood {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 52px;
  right: 48px;
  background: #ff445b;
  border-radius: 50px;
}
